
$primary-color: #F6FDFD;
$secondary-color: #FBB822;
$tertiary-color: #1a1c38;
$accent-color-1: #FDD172;
$accent-color-2: #F0A505;
$accent-color-3: #CDF3F3;
$light-grey: #d7dfd563;
$light-grey-2: #d7dfd5;

$font-color-1: #120208;
$font-color-2: #292929;
$font-color-3: #ffffff;
$font-color-4: #ffffffe6;
$font-color-shade: #292929ab;
$font-color-shade-2: #29292923;
$font-color-shade-3: #292929cf;

$heading-font: 'Mali', cursive;
$body-font:'Poppins', sans-serif;

$box-shadow: 0 0 3.2rem rgba(0, 0, 0, 0.2);
$box-shadow-2: 0 0 3.2rem rgba(196, 196, 196, 0.357);