@import url("https://fonts.googleapis.com/css2?family=Monoton&family=Quicksand:wght@500;700&display=swap");

:root {
  --bg-color: #283618;

  --color-primary1: #ffb703;
  --color-primary2: #606c38;
  --color-3: #fefae0;

  --color-accent1: #f2bc34;
  --color-accent2: #7e895a;

  --header-font: "Monoton", sans-serif;
  --body-font: "Quicksand", sans-serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--body-font);
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-3);
  background-color: var(--bg-color);
}

header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
}

header h1 {
  color: var(--color-3);
  font-family: var(--header-font);
  font-weight: 300;
  margin-left: 10px;
}

.container {
  max-width: 600px;
  margin: 30px auto;
  padding: 20px;
}

/* Form & Input */
.form-input {
  width: 100%;
  font-size: 18px;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

.form-input-filter {
  color: var(--color-3);
  margin-top: 20px;
  width: 100%;
  font-size: 18px;
  margin-bottom: 20px;
  padding: 10px;
  border: none;
  border-bottom: 1px solid #ccc;
  background: transparent;
  outline: none;
}

/* Buttons */
.btn {
  background-color: var(--color-primary1);
  color: #000;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  margin-inline-end: 0.5rem;
  margin-block-start: 1rem;
}

.btn:hover {
  background-color: var(--color-accent1);
}

.btn-link {
  font-size: 16px;
  background-color: transparent;
  color: var(--color-3);
  border: none;
  padding: 0;
  cursor: pointer;
}

.btn-clear {
  margin-top: 20px;
  width: 100%;
  font-size: 16px;
  background-color: transparent;
  color: var(--color-3);
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.btn-clear:hover {
  background-color: var(--color-accent2);
}

.text-red {
  color: red;
}

/* Items */

.items {
  margin-top: 20px;
  display: flex;
  /* justify-content: center; */
  flex-wrap: wrap;
}

.items li {
  display: flex;
  justify-content: space-between;
  width: 45%;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px 15px;
  margin: 0 5px 20px;
  font-weight: 700;
}

.edit-mode {
  color: #ccc;
}

.hideUI {
  display: none;
}

@media (max-width: 500px) {
  .items li {
    width: 100%;
  }
}
