.hero-section {
    &__hero {

        & .btn:where(:link, :visited) {
            @include link_button(1.6, $heading-font, 1.5, 3);
            font-weight: 700;
            border-radius: 2rem;
            transition: all .1s;
        }

        & .btn--cta:where(:link, :visited) {
            @include btn-visual($font-color-3, $secondary-color)
        }

        & .btn--outline:where(:link, :visited) {
            @include btn-visual($font-color-shade, $accent-color-3)
        }

    }

    @media only screen and (min-width: 56.7em) {
        &__hero {
            & .btn--cta:hover {
                @include btn-visual(currentColor, $accent-color-2);
            }

            & .btn--outline:hover {
                @include btn-visual($accent-color-3, transparent);
                outline: 2px solid $accent-color-3;
            }

            & .btn--cta:hover,
            & .btn--outline:hover {
                transform: translateY(-1.8px);
            }

            & .btn--cta:active,
            & .btn--outline:active {
                transform: translateY(1px);
            }


        }
    }


}